* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.dark-theme {
  background-color: #555;
  color: #fff;
}
